@page "/Student/Update/{Id}"
@inherits UpdateStudentBase

<br />
<h3>Update Student</h3>
<hr />

<MudCard>
	<MudForm Model="@model" @ref="@form">
		<MudCardContent>

            <MudSelect @bind-Value="@model.ClassId" Label="Choose Student Class" Variant="Variant.Outlined">
               
                @foreach(var item in Classes)
                {
                     <MudSelectItem Value="@item.Id">@item.Name</MudSelectItem>
                }
                
            </MudSelect>
            <br />
            <MudSelect @bind-Value="@model.CountryId" Label="Choose Student Country" Variant="Variant.Outlined">
               
                @foreach(var item in Countries)
                {
                     <MudSelectItem Value="@item.Id">@item.Name</MudSelectItem>
                }
                
            </MudSelect>
            <br />
            <MudTextField @bind-Value="@model.Name"
							  Validation="@(studentValidator.ValidateValue)"
							  For="@(() => model.Name)"
							  Immediate="true"
							  Label="Name" />
            
            <br />
            <MudDatePicker  @bind-Date="@model.BirthDate"
                            MinDate = "@(new DateTime(1900,01,01))"
                            MaxDate = "@(DateTime.Now)"
                            PickerVariant="PickerVariant.Dialog"
                            For="@(()=> model.BirthDate)"
                            Label="Birth Date"/>


        </MudCardContent>
	</MudForm>
    <MudCardActions>
        <MudButton Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto" OnClick="@(async () => await Submit())">Save</MudButton>
    </MudCardActions>
</MudCard>

@code {



}


