@page "/Class/Update/{Id}"
@inject ClassService classService
@inject NavigationManager NavigationManager
@inherits UpdateClassBase

<br />
<h3>Update Class</h3>
<hr />

<MudCard>
	<MudForm Model="@model" @ref="@form">
		<MudCardContent>

            <MudTextField @bind-Value="@model.Name"
							  Validation="@(classValidator.ValidateValue)"
							  For="@(() => model.Name)"
							  Immediate="true"
							  Label="Name" />
            
        </MudCardContent>
	</MudForm>
    <MudCardActions>
        <MudButton Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto" OnClick="@(async () => await Submit())">Save</MudButton>
    </MudCardActions>
</MudCard>



